<!-- <%- include ../partials/header.ejs %> -->
<app-header [title]="title"></app-header>

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <!-- <h1><%= title %></h1> -->
        <h1>{{ title }}</h1>
        <br>
        <div>
            <a routerLink="/survey/add" class="btn btn-primary align-self-end" role="button">
                <i class="fas fa-plus-circle"></i> 
                Add a new item
            </a>                             
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th class="text-center">Survey Title</th>
                    <th class="text-center">Start Date</th>
                    <th class="text-center">End Date</th>      
                    <th class="text-center">Survey Results</th>      
                    <th class="text-center" colspan="2">Actions</th>
                </tr>

                <!-- Repeatable Template Row -->

                <!-- <% for(let count = 0; count < SurveyList.length; count++) { %> -->
                    <!-- <tr> -->
                    <tr *ngFor="let item of surveyList">

                        <td class="text-center">
                            <a [routerLink]="['/survey/survey-questions/', item._id]">
                                <strong>{{ item.title }}</strong>
                            </a>
                        </td>
                        <td class="text-center">{{ item.startdate.toLocaleDateString() }}</td>
                        <td class="text-center">{{ item.enddate.toLocaleDateString() }}</td>
                        
                        <td class="text-center">
                            <a [routerLink]="['/survey/report/', item._id]">
                                view survey result
                            </a>
                        </td>


                        <td class="text-center">
                            <button [routerLink]="['/survey/edit/', item._id]" class="btn bg-primary btn-primary btn-sm">
                                <i class="fas fa-pencil-alt" ></i></button>
                        </td>
                        <td class="text-center">
                            <a (click)="deleteMethod(item._id)" class="btn bg-danger btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i></a>
                        </td>


                        <!--
                        <td class="text-center"> {{ item.item }} </td>
                        <td class="text-center"> {{ item.qty }} </td>
                        <td class="text-center"> {{ item.status }} </td>
                        <td>
                            Hight: {{ item.size.h }}<br />
                            Width: {{ item.size.w }}<br />
                            UOM: {{ item.size.uom }}<br />
                        </td>
                        <td class="text-center">{{ item.tags }}</td>
                        <td class="text-center">
                            <button [routerLink]="['/survey/edit/', item._id]" class="btn bg-primary btn-primary btn-sm">
                                <i class="fas fa-pencil-alt" ></i></button>
                        </td>
                        <td class="text-center">
                            <a (click)="deleteMethod(item._id)" class="btn bg-danger btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i></a>
                        </td>

                        -->

                    </tr> 
                <!-- <% } %> -->
            </table>
        </div>
    </div>
  </main>
<!-- <%- include ../partials/footer.ejs %> -->
<app-footer></app-footer>